@import url("https://fonts.google.com/?selection.family=Montserrat:wght@100&sidebar.open&query=Droid&preview.size=31");

body {
  margin: 0;
  font-family: Montserat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #80deea;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


